<div class="container" tabindex="0" (keyup)="keyBoard($event)">
  <div class="display-container">
    <div [ngClass]="{'msg-class' : maxRange, 'bigfont' : bigFont === true}" class="display-screen">
      {{ inputText }}
    </div>
    <div class="memory-case">
      <div class="memory-screen">
        {{ inMemory }}
      </div>
    </div>
    <div class="punch-keys-sect">
      <table class="table-of-data">
        <tr class="rows-data">
          <td class="key ackey opkey border-black" (click)="keyPress('AC')"> MC </td>
          <td class="key ackey opkey border-black" (click)="keyPress('M+')"> M+ </td>
          <td class="key opkey border-black" (click)="keyPress('/')">/</td>
          <td class="key opkey border-black" (click)="keyPress('x')"> x </td>
        </tr>
        <tr class="rows-data row__top">
          <td class="key opkey border-black" (click)="keyPress('cos')"> cos </td>
          <td class="key opkey border-black" (click)="keyPress('sine')"> sine </td>
          <td class="key opkey border-black" (click)="keyPress('tan')"> tan </td>
          <td class="key opkey border-black" (click)="keyPress('√')"> <sup>n</sup> √ </td>
        </tr>
        <div class="space"></div>
        <tr class="rows-data">
          <td class="key numkey" (click)="keyPress('7')">7</td>
          <td class="key numkey" (click)="keyPress('8')">8</td>
          <td class="key numkey" (click)="keyPress('9')">9</td>
          <td class="key opkey numkey" (click)="keyPress('-')">-</td>
        </tr>
        <tr class="rows-data">
          <td class="key numkey" (click)="keyPress('4')">4</td>  
          <td class="key numkey" (click)="keyPress('5')">5</td>
          <td class="key numkey" (click)="keyPress('6')">6</td>
          <td class="key opkey numkey" (click)="keyPress('+')">+</td>
        </tr>
        <tr class="rows-data">
          <td class="key numkey" (click)="keyPress('1')">1</td>
          <td class="key numkey" (click)="keyPress('2')">2</td>
          <td class="key numkey" (click)="keyPress('3')">3</td>
          <td class="key opkey equalkey" rowspan="2" (click)="getAnswer()"> = </td>
        </tr>
        <tr class="rows-data">
          <td class="key numkey" (click)="keyPress('0')">0</td>
          <td class="key numkey" (click)="keyPress('.')">.</td>
          <td class="key opkey percent__key" (click)="keyPress('%')"> % </td>
        </tr>
        <tr></tr>
        <tr class="powerBtn">
          <td class="key power" colspan = '2' (click)="power()">
            <fa-icon [icon]="faPowerOff"></fa-icon>
          </td>
          <td></td>
          <td class="history__screen-control" (click)="keyPress('H')">
            H
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div [ngClass]="{'staticClass': staticCount === 0, 'second__screen-show-history' : showHist, 'second__screen-hide-history' : hideHist}" >
    <div class="sibling">
      <h2 class="screen__header-text"> HISTORY </h2>
      <div *ngFor="let log of logsArray; let i=index" class="screen__body">
        <table class="logs__table">
          <tr>
            <td class="logs__column">
              <span class="logs__index"> {{ i + 1 }}: </span>
              <span class="logs"> {{ log }} </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
  <!-- [ngClass]="{'staticClass': staticCount === 0, 'second__screen-show-one' : showHist, 'second__screen-hide-one' : hideHist, 'second__screen-show-mem' : showMem, 'second__screen-hide-mem' : hideMem}" -->